1 appclient localhost
2 assembly localhost
3 compat12 localhost
4 compat13 localhost
5 concurrency localhost
6 connector localhost
7 ejb localhost
8 ejb30 localhost
9 ejb32 localhost
10 el localhost
11 integration localhost
12 interop localhost
13 j2eetools localhost
14 jacc localhost
15 jaspic localhost
16 javamail localhost
17 jaxr localhost
18 jaxrpc localhost
19 jaxrs localhost
20 jbatch localhost
21 jdbc localhost
22 jms localhost
23 jpa localhost
24 jsf localhost
25 jsonp localhost
26 jsp localhost
27 jstl localhost
28 jta localhost
29 jws localhost
30 rmiiiop localhost
31 saaj localhost
32 samples localhost
33 servlet localhost
34 signaturetest_javaee localhost
35 webservices localhost
36 webservices12 localhost
37 webservices13 localhost
38 websocket localhost
39 xa localhost
